body {
  /* margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #e6ecf0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* Nav */
.navbar {
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}


/* any ul with a class of nav navbar-nav */
ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-color: rgb(149, 126, 241);
  /* background: linear-gradient(rgb(149, 126, 241), rgb(250, 166, 180)); */
  background-size: 100% 100%;
}


.navbar-header img {
  width: 7%;
  height: 7%;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url('./images/signed-out.jpeg');
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 8px #66757f;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background: #e6ecf0;
}

.message-card {
  margin: 1%;
}

.timeline-image {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 2px 30px 10px 10px;
}

.btn:hover {
  cursor: pointer;
  background: rgb(149, 126, 241);
  color: white;
}

a.btn.btn-danger, a.btn.btn-danger:hover {
  color: white;
}

.heart-image:hover {
  cursor: pointer;
}


